<div class="container" style="background-color: #638B3D;">
<div class="footer-column">
    <h2>New York University <br>
        Shanghai Natural <br>
        Material Studio</h2>
</div>
<div class="footer-column">
    <h4>Information</h4>
    <h4>Materials</h4>
    <h4>Projects</h4>
    <h4>Inspiration and Gallery</h4>
    <h4>Insights</h4>
</div>
<div class="footer-column">
    <h3>Contact</h3>
    <h4>Email</h4>
    <h4>557 West Yangsi Road, <br>
        Pudong New District,<br>s
        Shanghai, China</h4>
</div>
<div class="footer-column">
    <h3>Socials</h3>
    <h4>Facebook</h4>
    <h4>Instagram</h4>
</div>