<%- include('nav.ejs', {userName: user}) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <!-- script -->
    </head>

    <body>
        <div class="maker">
            <div class="maker-one">
                <h1 style="font-weight:500; color: #fff">Makers in<br> Residence <br> Program</h1>
            </div>
            <div class="maker-two">
                <h1>About</h1>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        et ultricies ipsum, ac cursus libero. Donec accumsan diam sit
                        amet sollicitudin fringilla. Aliquam erat volutpat. Integer ac diam
                        vitae purus suscipit pretium. Fusce feugiat ex at nisl scelerisque,
                        et fringilla urna auctor. Nulla facilisi. Vivamus gravida, urna nec
                        aliquet pharetra, nulla nisl auctor purus, ac fermentum nisl felis
                        ac justo. Ut vel magna sed lectus egestas posuere. Suspendisse
                        potenti.
                        Maecenas vel nisi urna. Proin condimentum, libero ac sodales
                        tincidunt, arcu nisi maximus justo, at gravida lacus dui in nunc.
                        Pellentesque habitant morbi tristique senectus et netus et
                        malesuada fames ac turpis egestas. Mauris scelerisque, lacus ut
                        efficitur pretium, lorem tortor facilisis ligula, nec consequat nunc
                        libero a justo. Aenean ut semper velit, nec consectetur risus.
                        Cras vel purus interdum, dapibus augue eget, venenatis turpis.
                        Nam vitae risus magna. Vivamus a vehicula velit. Fusce vitae
                        metus ut sem bibendum interdum nec id arcu.
                        Sed malesuada eros at libero vehicula, at faucibus erat suscipit.
                        Aliquam scelerisque tincidunt leo, id cursus erat. Sed vestibulum
                        consectetur urna ac condimentum. Ut at libero at odio interdum
                        vulputate. Phasellus lacinia, sapien a maximus gravida, arcu nisi
                        cursus ex, a luctus orci orci at mauris. Curabitur feugiat purus in
                        nisi iaculis fermentum. Duis viverra, turpis vel fringilla dapibus,
                        purus sem varius arcu, ac ultricies ligula ex ac velit.</p>
                    <div class="material-btn">
                        <a href="#" style="width:200px"><span>How do I apply?</span></a>
                        <br>
                        <a href="#" style="width:200px"><span>See Makers in Residence</span></a>
                    </div>
                </div>
                <hr style="border: 1px solid #999;">
            </div>
            <div class="maker-three">
                <h1>What is Expected</h1>
                <h2>One Talk</h2>
                <h2>Specific Projects</h2>
                <h2>Share Recipes</h2>
                <h1>What it Includes</h1>
                <h2>Online Feature</h2>
                <h2>Colloquium</h2>
                <h2>Permanent inclusion on website</h2>
                <h2>Links</h2>
                <h2>Honorarium</h2>
                <h2>Access to Facilities</h2>
                <hr style="border: 1px solid #999;">
            </div>
            <div class="maker-four">
                <h1>How to Apply</h1>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                        et ultricies ipsum, ac cursus libero. Donec accumsan diam sit
                        amet sollicitudin fringilla. Aliquam erat volutpat. Integer ac diam
                        vitae purus suscipit pretium. Fusce feugiat ex at nisl scelerisque,
                        et fringilla urna auctor. Nulla facilisi. Vivamus gravida, urna nec
                        aliquet pharetra, nulla nisl auctor purus, ac fermentum nisl felis
                        ac justo. Ut vel magna sed lectus egestas posuere. Suspendisse
                        potenti.
                        Maecenas vel nisi urna. Proin condimentum, libero ac sodales
                        tincidunt, arcu nisi maximus justo, at gravida lacus dui in nunc.
                        Pellentesque habitant morbi tristique senectus et netus et
                        malesuada fames ac turpis egestas. Mauris scelerisque, lacus ut
                        efficitur pretium, lorem tortor facilisis ligula, nec consequat nunc
                        libero a justo. Aenean ut semper velit, nec consectetur risus.
                        Cras vel purus interdum, dapibus augue eget, venenatis turpis.
                        Nam vitae risus magna. Vivamus a vehicula velit. Fusce vitae
                        metus ut sem bibendum interdum nec id arcu.
                        Sed malesuada eros at libero vehicula, at faucibus erat suscipit.
                        Aliquam scelerisque tincidunt leo, id cursus erat. Sed vestibulum
                        consectetur urna ac condimentum. Ut at libero at odio interdum
                        vulputate. Phasellus lacinia, sapien a maximus gravida, arcu nisi
                        cursus ex, a luctus orci orci at mauris. Curabitur feugiat purus in
                        nisi iaculis fermentum. Duis viverra, turpis vel fringilla dapibus,
                        purus sem varius arcu, ac ultricies ligula ex ac velit.</p>
                    <div class="material-btn">
                        <p>Required:<br>
                            - Cover Letter<br>
                            -CV/Resume<br>
                            -Project Proposal<br>
                            -Portfolio</p>
                        <a href="#" style="width:200px"><span>Click here to apply</span></a>
                        <br>
                        <a href="#" style="width:200px"><span>See Makers in Residence</span></a>
                    </div>
                </div>
                <hr style="border: 1px solid #999;">
            </div>
            <div class="people-partner">
                <h1>Makers in Residence</h1>
    
                <div class="profile-row">
                    <div class="profile">
                        <img src="img/materials.jpg" alt="Profile 1">
                        <p style="font-size: 24px;">Name: Profile 1</p>
                        <!-- <p style="font-size: 12px;">Contact: profile1@example.com</p>
                        <p style="font-size: 18px;">Introduction: This is a brief introduction for Profile 1.</p> -->
                        <div class = "material-btn" style = "margin-right: auto; margin-left: auto;"><a href="#"><span>View Profile ></span></a></div>
                    </div>
                    <div class="profile">
                        <img src="profile2.jpg" alt="Profile 2">
                        <p>Profile 2</p>
                        <div class = "material-btn" style = "margin-right: auto; margin-left: auto;"><a href="#"><span>View Profile ></span></a></div>
                    </div>
                    <div class="profile">
                        <img src="profile3.jpg" alt="Profile 3">
                        <p>Profile 3</p>
                        <div class = "material-btn" style = "margin-right: auto; margin-left: auto;"><a href="#"><span>View Profile ></span></a></div>
                    </div>
                </div>
            </div>
            <%- include('footer.ejs') %>
    </body>