<%- include('../nav.ejs', {userName: user}) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <!-- script -->
    </head>

    <body>
        <header></header>


        <div class="about">
            <div style = "padding:2% 0; text-align: center;">
                <img src="img/materials.jpg" width="100%">
            </div>
            <h1>About</h1>
            <h4>Natural Materials Studio, part of The NYUSH Center for EcoMateriality cluster, is a lab where
                interdisciplinary
                research, artistic practice, collaboration, and conversation intersect to propose a future that
                highlights bio
                materials and environmental thinking to build a sustainable global system of material making and
                open up
                new territories for material, art, and design.
                This website serves as an open-source resource to share information, provide inspiration,
                research,
                spaces
                for discourse and experimentation, and recipes to further multi-pronged experimentations into
                bio-materials,
                transformation of man-made refuse, cutting-edge emerging technologies, and critical making.
                We welcome exchanges - interested individuals and groups may contact us via ().
            </h4>
        </div>
        <div class="eco">
            <h2>NYUSH Center for EcoMateriality</h2>
            <p>The NYUSH Center for EcoMateriality creatively bridges the gaps
                between Art, Design and Science. It is at the forefront of art- and
                design-based material and aesthetic re-thinking in the paired frameworks
                of environmental responsibility and artistic innovation. It is a lab where
                interdisciplinary research, artistic practice, and conversation intersect to
                propose a future that is fully centered around circular design principles –
                reuse, recycle, renew & rethink – in order to build a sustainable global
                system of material making.<br><br>
                The center currently houses the NYUSH Re-Makerspace and NYUSH
                Natural Materials Lab. We host discourses around intersections between
                nature, science, technology, and culture. We are committed to an active
                outreach program, which includes talks, workshops, and community
                projects. Our research is accessible as open source content, available to
                both our community and the general public in order to enhance people’s
                relationship with materials and artifacts and encourage radical change.<br><br>
                We are a collaborative, Eco Feminist research cluster opening up new
                territories for material, art, and design – a non-hierarchical and inclusive
                site for research, invention, and artistic development. The center models
                a sustainable, sympoietic paradigm through multi-pronged
                experimentations into bio-materials, transformation of man-made refuse,</p>
        </div>
        <%- include('../footer.ejs') %>
    </body>
    </html>