<%- include('../utilities/nav.ejs', {userName: user}) %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
        <!-- script -->
    </head>

    <body>
        <div class="people-partner">
            <h1>Partnerships</h1>

            <div class="profile-row">
                <div class="profile">
                    <img src="img/materials.jpg" alt="Profile 1">
                    <p style="font-size: 24px;">Partnership</p>
                    <p style="font-size: 12px;">Contact: profile1@example.com</p>
                    <p style="font-size: 18px;">Introduction: This is a brief introduction for Partnership 1.</p>
                </div>
                <div class="profile">
                    <img src="profile2.jpg" alt="Profile 2">
                    <p>Profile 2</p>
                </div>
            </div>
        </div>
        <%- include('../utilities/footer.ejs') %>
    </body>